.footer-content {
    gap: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-content>section {
    width: 100%;
}

@media (max-width: 500px) {
    .footer-content {
        flex-direction: column;
    }
}