.formInput {
    margin-bottom: 10px!important;
}

.numberInputWrapper {
    width: 100%;
    display: flex;
}

.numberInputWrapper>div {
    flex: 1;
}

@media (prefers-color-scheme: dark) {
  label {color: #fff;}
  select, input, textarea {
    color: #000;
    background: #fff!important;
    border-radius: 10px!important;
  }

  select option {
    color: #000;
    background: #fff!important;
  }
  form p {
    color: #fff!important;
  }

}